<div class="container">
  Burp bupr brup brrrupp
</div>
<h2 id="sign-up-title" class="text-center">Your Profile!</h2>

<div class="text-center">
  blegh
</div>
<div class="user-data" ng-if="miCtrl.SignUpService.userCreated == true">
  <div>
    First Name: {{miCtrl.firstName}}
  </div>
  <div>
    Last Name: {{miCtrl.lastName}}
  </div>
  <div>
    Email: {{miCtrl.email}}
  </div>
  <div>
    Telephone: {{miCtrl.telephone}}
  </div>
  <div>
    Favorite Meal: {{miCtrl.favorite}}
  </div>
</div>

<div class="sign-up-link" ng-if="miCtrl.SignUpService.userCreated == false">
  You have not registered. Please click to
  <a ui-sref="public.signUp">
    Sign up!
  </a>
</div>
