<!doctype html>
<html lang="en" ng-app="LunchBoxApp">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  <script src ="node_modules/angular/angular.js"></script>
  <script src="scripts/app.js"></script>
<body ng-controller = "LunchBoxController">
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItems">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="spaceCheck()" >Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           {{ boxStatus }}
         </div>
   </div>

</body>
</html>
