<div class="container">
  <h2 id="sign-up-title" class="text-center">Sign Up!</h2>

  <div class="text-center">
    Please fill out the following fields:
  </div>
  <form class="sign-up-form" name="formRegisterUser" novalidate>
      <div>
        First Name:
        <input class="sign-up-input" type="text" name="firstName" ng-model="$ctrl.firstName" required>
          <span ng-if="formRegisterUser.firstName.$error.required && formRegisterUser.firstName.$touched">
            This field is Required!
          </span>
      </div>
      <div>
        Last Name:
        <input class="sign-up-input" type="text" name="lastName" ng-model="$ctrl.lastName" required>
        <span ng-if="formRegisterUser.lastName.$error.required && formRegisterUser.lastName.$touched">
          This field is Required!
        </span>
      </div>
      <div>
        Email Address:
        <input class="sign-up-input" type="email" name="email" ng-model="$ctrl.email" required minlength='1'>
        <span ng-if="formRegisterUser.email.$error.required && formRegisterUser.email.$touched">
          This field is Required!
        </span>
        <span ng-if="formRegisterUser.email.$invalid && formRegisterUser.email.$dirty">
          Email Address Invalid!
        </span>
      </div>
      <div>
        Telephone Number:
        <input class="sign-up-input" type="tel" name="telephone" ng-model="$ctrl.telephone" required>
        <span ng-if="formRegisterUser.telephone.$error.required && formRegisterUser.telephone.$touched">
          This field is Required!
        </span>
      </div>
      <div>
        Tell us what you love to eat!:
        <input class="sign-up-input" type="text" name="favorite" ng-model="$ctrl.favorite" required>
        <span ng-if="formRegisterUser.favorite.$error.required && formRegisterUser.favorite.$touched">
          This field is Required!
        </span>
      </div>
      <div>
        <button class="sign-up-input" ng-disabled="formRegisterUser.$invalid" ng-click="$ctrl.signUp()">
          Submit
        </button>
      </div>
  </form>

</div>
